{{- if (get . "server") }}
alias nano=vi
{{- else }}
alias nano=nvim
{{- end }}
{{- if lookPath "bat"}}
alias cat=bat
{{- end }}
{{- if lookPath "prettyping"}}
alias ping=prettyping
{{- end }}
{{- if and (not (get . "server")) (lookPath "assh")}}
alias ssh="assh wrapper ssh --"
{{- end }}
{{- if and (not (get . "server")) (lookPath "kubectl")}}
alias kak="kubectl apply -k"
{{- end}}

{{/* work related stuff */}}
{{- if and (not (get . "server")) (get . "work")}}
alias pass_priv="PASSWORD_STORE_DIR=~/.password_store_privat pass"
{{- end }}

{{/* mac related stuff */}}
{{- if and (not (get . "server")) (eq .chezmoi.os "darwin") }}
alias beep="afplay -r 0.5 /System/Library/Sounds/Purr.aiff"
{{- end}}
